<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Contentful
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Contentful</ion-title>
    </ion-toolbar>
  </ion-header>

    <ul>
      <strong>Pages med Unordered list</strong>
      <li *ngFor="let page of pages">
        {{ page.fields.title }}
      </li>
    </ul>
    <ol>
      <strong>Pages med Ordered list</strong>
      <li *ngFor="let page of pages">
        {{ page.fields.title }}
      </li>
    </ol>
  
    <ion-list>
      <ion-item>
        <strong>Pages med ion-list</strong>
      </ion-item>
      <ion-item *ngFor="let page of pages">
        {{ page.fields.title }}
      </ion-item>
    </ion-list>
</ion-content>
